@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', system-ui;
}

body {
    background-color: #011F26;
    color: #f2f2f2;
}

#container-tela-inicial {
    display: none;
}

#tela-inicial {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tela-inicial h1{
    margin-bottom: 30px;
}

#tela-inicial p {
    min-height: 20px;
    font-size: 16px;
    animation: pular 1s infinite;
    margin-bottom: 30px;
}

@keyframes pular {
    0% {
        font-size: 16px;;
      }
      50% {
        font-size: 16.5px;
      }
      100% {
        font-size: 16px;
      }
}

#tela-inicial button {
    font-size: 20px;
    padding: 15px;
    font-weight: bolder;
    color: #f2f2f2;
    background-color: #011f265d;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    cursor: pointer;
}

#tela-inicial button:hover {
    background-color: #025E73;
}

#container-tela-jogo {
    display: none;
}

#tela-jogo {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#conteudo-cabecalho {
    display: flex;
    justify-content: space-between;
    width: 560px;
}

#p-jogador {
    text-align: left;
}

#p-placar {
    text-align: right;
}

#container-tela-jogo canvas {
    margin-top: 15px;
    background-color: #0a0c0d;
}

#container-tela-game-over {
    display: none;
}

#tela-game-over {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#tela-game-over h1{
    margin-bottom: 30px;
}

#tela-game-over p {
    min-height: 20px;
    font-size: 16px;
}

#grupo-btns {
    display: flex;
    justify-content: space-between;
}

.btns-game-over {
    margin: 30px;
    font-size: 20px;
    padding: 15px;
    font-weight: bolder;
    color: #f2f2f2;
    background-color: #011f265d;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    cursor: pointer;
}

.btns-game-over:hover {
    background-color: #025E73;
}